.outer-div {
  height: 500px;
  background-color: white;
  display: flex;
  width: 300px;
}

.side-panel {
  border-right: 3px solid rgb(252, 196, 3);
  border-left: 3px solid rgb(252, 196, 3);
  background-color: rgb(221, 232, 241);
  flex: 0 0 fit-content;
  box-shadow: 2px -3px 5px rgb(141, 202, 255);
}

.side-panel-button {
  background-color: rgb(221, 232, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 500px;
}

.side-panel-wrapper {
  overflow: visible;
  position: relative;
  left: 5px;
  top: 0px;
  width: 0;
  height: 0;
}
