/* need this in order to click on the modal inside the search results button */
#search-modal {
  height: 5px;
  width: auto;
}

.results-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 200px;
}

.individual-search-result {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: auto;
  width: auto;
}

.inline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
