.delete-button {
  background-color: transparent;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50px;
  border: 2px solid #0099cc;
  border-radius: 6px;
  font-size: 10px;
}

.delete-button:hover {
  background-color: #008cba;
  color: white;
}
