.comment-box {
  /* border: 1px solid black; */
}

.open-comments,
.make-new-comment,
.comment-submit {
  display: inline-block;
  border: none;
  color: rgb(48, 47, 47);
  width: 194px;
  border-radius: 5px;
  border-bottom: rgb(231, 72, 35) 2px solid;
  border-left: rgb(231, 72, 35) 2px solid;
  border-right: rgb(231, 72, 35) 2px solid;
  background-color: transparent;
  margin: 3px;
}

.comment-submit {
  width: 100%;
}

.button-container {
  display: inline-block;
  margin-top: 10px;
}

.make-new-comment:hover,
.open-comments:hover,
.comment-submit:hover {
  background-color: rgb(231, 72, 35);
  color: white;
}

.leave-a-comment-box {
  resize: none;
  margin-left: 19px;
  border-radius: 5px;
}

.comment-username {
  font-size: 15px;
  display: inline;
  color: rgb(231, 72, 35);
}

.comment-text {
  display: inline;
  font-size: 14px;
}
