/* .ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.list-item {
  font-size: 1.5rem;
  margin-right: 30px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: rgb(141, 202, 255);
}

.space-for-links {
  height: 50px;
} */

.main-sidepanel-container {
  display: flex;
  flex-direction: column;
  padding: 70px;
  height: 320px;
  justify-content: space-around;
}

.sidepanel-button {
  /* margin-bottom: 100px; */
  width: 100%;
  border: 0;
  border-image: linear-gradient(
    to right,
    rgb(141, 202, 255),
    rgb(227, 107, 177)
  );
  border-image-slice: 2;
  border-bottom: 3px solid white;
  font-size: 1.1rem;
  color: rgb(48, 47, 47);
  padding: 7px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 14px;
}

.sidepanel-button:hover {
  background-color: rgb(141, 202, 255);
}
