.profile-dropdown {
  position: absolute;
  padding: 0;
  list-style-type: none;
}

.profile-button,
.profile-dropdown {
  margin: 5px;
  border: none;
  color: rgb(48, 47, 47);
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3);
}

.nav-buttons {
  border: none;
  color: rgb(48, 47, 47);
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3);
}

.nav-buttons:hover {
  background-color: rgb(141, 202, 255);
  color: white;
}

#border-heading {
  position: relative;
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background: radial-gradient(rgb(141, 202, 255), rgb(227, 107, 177));
  /* background: radial-gradient(rgb(254, 199, 200), rgb(165, 66, 99)); */
}

#top-nav-bar {
  /* background-color: rgb(221, 232, 241); */
  /* background-color: rgb(235, 234, 250); */
  background-color: rgb(243, 242, 248);
  margin: 0;
  /* margin-bottom: 0; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

#nav-bar-logo {
  margin-left: -90px;
}

/* COME BACK TO STYLING THIS!! */
.logo .mobile {
  display: none;
}
/* when screen is less than 600px wide
     show mobile version and hide desktop */
@media (max-width: 600px) {
  .logo .mobile {
    display: block;
  }
  .logo .desktop {
    display: none;
  }
}
